body{
    padding: 0;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

#divmaster{
    display:flex; 
    flex-direction: column;
}

#menusuperior{
    height: 475px; 
    background-color: #303030; 
}

#boxtitulo{
    margin-top: 206px;
    margin-left: 62px;
    margin-bottom: 149px;
}

#titulo-menusuperior{
    color: white;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
}

#subtitulo-menusuperior{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

#menuintermediario{
    display: flex; 
    flex-direction: row;
    padding-left: 171px;
    padding-top: 96px;
    padding-bottom: 67px;
    background-color: #F9F9F9;
}

.box-menuintermediario{
    margin-right: 99px;
}

.valores-menuintermediario{
    font-size: 40px;
    font-weight: 600;
    line-height: 28px;
}

.texto-menuintermediario{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

#menuimagem{
    display: flex;
    flex-direction: row;
    padding-left: 77px;
    padding-right: 54px;
    padding-top: 82px;
    padding-bottom: 92px;
}

#box-texto{
    width: 735px;
    margin-right: 64px;
}

#boxtexto-titulo{
    font-size: 37px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 40px;
}

#boxtexto-conteudo{
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}

#alinhamentovertical{
    padding-top: 32%;
}

#menu-formulario{
    background-color: #303030;
    padding: 87px 148px;
}

#formulario-titulo{
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: white;
}

.formulario-input{
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 30px;
    height: 48px;
    border-radius: 10px;
    text-indent: 20px;
}

button{
    background-color: #C07212;
    height: 40px;
    width: 200px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    font-weight: bolder;
    cursor:pointer;
    display: block;
    margin: auto;
    margin-top: 40px;
}

button:hover{
    background-color: #C07212;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #c0721280;
    transition-duration: 0.5s;
}

#box-imagem {
    position: relative;
}

#prev-arrow,
#next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 70px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

#prev-arrow {
    left: 10px;
}

#next-arrow {
    right: 10px;
}

#prev-arrow:hover,
#next-arrow:hover {
    color: white; 
    transform: translateY(-50%) scale(1.2); 
}